
body {
	margin: 0 auto;
	padding: 0 1rem;
	max-width: 60rem;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-family: sans-serif;
	font-size: 1.2rem;
	line-height: 1;
}

p+*, *+p, *+h1, *+h2, *+h3, *+h4, *+h5, *+ul, *+ol {
	margin-top: 1rem;
}

blockquote {
	font-style: italic;
	color: #555;
	margin: 0 -1rem;
	padding: 0.5rem 10px;
	padding-left: 2rem;
	quotes: "\201C" "\201D" "\2018" "\2019";
	position: relative;
}
blockquote:before {
	position: absolute;
	left: 0;
	top: 2rem;
	color: #ccc;
	content: "\201C";
	font-size: 4rem;
	line-height: 0.4rem;
	margin-right: 1rem;
	vertical-align: -0.4rem;
}
@media (min-width: 70rem) {
	blockquote {
		margin-left: -2rem;
	}
}

a[href],
.hashtag {
	color: #2196F3;
}

p > code,
li > code,
samp {
	border: solid 1px hsla(204, 10%, 80%, 1);
	border-radius: .25em;
	margin: 0 -.03125em;
	padding: .0625em .25em 0; /* breathing room for inline code that has a different background or an outline */
}
pre.public-DraftStyleDefault-pre {
	font: inherit;
	margin: 0;
}

hr {
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.entry {
	cursor: text;
	min-height: 1em;
	outline: 0;
	position: relative;
}

.block {
	margin: 0.5rem 0;
}

.code-block {
	min-height: 1rem;
    margin: 0;
}
.code-block > code {
	display: block;
	white-space: pre-wrap;
	tab-size: 4;
	background: black;
	color: white;
	margin: 0;
	min-height: 1rem;
	padding: 0 1rem;
	margin: 0 -1rem;
}
.code-block ~ .code-block::before {
	display: none;
}
.code-block::before {
	padding-top: 0.5rem;
}
.code-block ~ .code-block {
    padding: 0;
}
pre > .code-block:first-child > code{
	padding-top: 0.5rem;
}
pre > .code-block:last-child > code {
	padding-bottom: 0.5rem;
}

.block > hr {
	margin: 0 -1rem;
}

/* timestamp */
.block::before {
	content: attr(data-timestamp);
	font-family: sans-serif;
	font-size: 0.6rem;
	color: rgba(127, 127, 127, 0.8);
	width: 4rem;
}
@media (min-width: 70rem) {
	.block::before {
		position: absolute;
		right: 100%;
		margin-right: 0.5rem;
	}
	.code-block > code {
		margin-left: -5rem;
		padding-left: 5rem;
	}
}

.block-controls-dropdown-button {
	background: none;
	border: 1px solid transparent;
	border-radius: 50%;
	outline: none;
}
.block-controls-dropdown-button:hover,
.menuitem:hover {
	background: rgba(127, 127, 127, 0.1);
}
.block-controls-dropdown-button:active,
.menuitem:active {
	background: rgba(127, 127, 127, 0.3);
}
.over-dark-block .block-controls-dropdown-button {
	color: white;
}
.block-controls-dropdown-menu {
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.5);
}
.menuitem {
	padding: 0.2rem;
	cursor: default;
	padding-left: 1.4rem;
	position: relative;
}
.menuitem.RichEditor-activeButton:before {
	content: "✓";
	position: absolute;
	left: 0.2rem;
}


/*
.block {
	outline: 1px solid red;
	border: 1px solid lime;
}
*/

.from-future {
	background: #FFCEE6;
	border: solid 1px hsla(0, 36%, 29%, 0.47);
	border-radius: .25em;
	margin: 0 -.03125em;
	padding: .0625em .25em 0;
}
.from-future > p {
	margin: 0.5em 0;
}
